@model ZiekenFonds.Web.DTOS.Foto.UploadFotoDto

<h2>Upload Nieuwe Foto</h2>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="BestemmingId" />

    <div class="form-group">
        <label asp-for="File" class="form-label">Selecteer Foto</label>
        <input asp-for="File" class="form-control" type="file" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Uploaden</button>
    <a asp-action="Index" asp-route-bestemmingId="@Model.BestemmingId" class="btn btn-secondary mt-3">Annuleren</a>
</form>
