@model ZiekenFonds.Web.DTOS.Review.ReviewOphalenPageDto[]

<div class="text-center">
    <h1 class="display-4">Review Pagina</h1>

    <!-- Create Opleiding Button -->
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-success">Review Aanmaken</a>
    </div>

    <!-- Add message displays -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tekst</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model)
                {
                    <tr id="review_@review.Id">
                        <td>@Html.DisplayFor(modelItem => review.Tekst)</td>
                        <td>@Html.DisplayFor(modelItem => review.Score)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
